<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_FOLDER">${env:MP3_EDITOR_LOG_FOLDER}</Property>
    </Properties>

    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%msg%n}{TRACE=magenta}"
                           disableAnsi="false"/>
        </Console>
        <File name="LogToFile" fileName="${LOG_FOLDER}/app.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %c{1.} %p %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.github.Leo_Proger.mp3_editor" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole" level="debug"/>
            <AppenderRef ref="LogToFile" level="info"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>
